## Data Structures and Types

In [1]:
new_String="This is a String"

In [2]:
new_String

'This is a String'

In [3]:
type(new_String)

str

## Numeric Type

In [4]:
num=123

In [5]:
type(num)

int

In [6]:
num+1000

1123

In [7]:
num*2

246

In [9]:
num=num+2
num

127

In [10]:
num*2

254

In [11]:
num/2

63.5

In [12]:
1.4+2.6

4.0

## Strings

In [16]:
a1='This is a statement'
a2='Another "different" statement'
a3='\'3rd\' statement'

In [17]:
a1, a2, a3

('This is a statement', 'Another "different" statement', "'3rd' statement")

In [18]:
' '.join([a1,a2])

'This is a statement Another "different" statement'

In [19]:
a1[::-1]

'tnemetats a si sihT'

## Lists

In [21]:
l1=['data','science','text','analytics']

In [25]:
l2=list([1,'interesting',3,'knowledge'])

In [28]:
l3=['a','b','c',[1,2,3],['class','one']]

In [22]:
#indexing list
l1[0]

'data'

In [24]:
l1[0]+' '+l1[3]

'data analytics'

In [26]:
#slicing list
l2[1:3]

['interesting', 3]

In [36]:
# handling nested list
l3

['a', 'b', 'c', [1, 2, 3], ['class', 'one']]

In [37]:
l3[3]

[1, 2, 3]

In [38]:
l3[4]

['class', 'one']

In [39]:
#pop operation
l3.pop(3)

[1, 2, 3]

In [40]:
l3

['a', 'b', 'c', ['class', 'one']]

In [44]:
l3.insert(4,'hi')

In [45]:
l3

['a', 'b', 'c', ['class', 'one'], 'hi']

## Sets

In [46]:
l4=[1,2,3,4,5,6,7,8,9]

In [48]:
s1=set(l4)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
s2={1,11,12,13,14}
s2

{1, 11, 12, 13, 14}

In [49]:
#membership testing
1 in s1

True

In [50]:
100 in s1

False

In [52]:
#set union

s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14}

In [55]:
#set intersection
s1&s2

{1}

In [56]:
#set difference
s1-s2

{2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
#elements which do not appear in both sets
s1^s2

{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14}

## Dictionaries

Often known as associative array

In [66]:
d1={'choc':3, 'cola':1,'bread':5}
d1

{'bread': 5, 'choc': 3, 'cola': 1}

In [69]:
d2=dict({'apple':7, 'sweets':9})
d2

{'apple': 7, 'sweets': 9}

In [60]:
# retrieving items based on keys
d1.get('bread')

5

In [61]:
d1['bread']

5

In [63]:
#viewing keys
d1.keys()

dict_keys(['choc', 'cola', 'bread'])

In [64]:
#viewing values
d1.values()

dict_values([3, 1, 5])

In [67]:
# setting items with specific keys
d1['berries']=2

In [68]:
d1

{'berries': 2, 'bread': 5, 'choc': 3, 'cola': 1}

In [71]:
#updating dictionaries
d1.update(d2)
d1

{'apple': 7, 'berries': 2, 'bread': 5, 'choc': 3, 'cola': 1, 'sweets': 9}